
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore test results
TestResults/*

# Ignore staging info from Visual Studio
library/CentreonPowerShell/.vs/*
library/CentreonPowerShell/CentreonPowerShell/bin/*
library/CentreonPowerShell/CentreonPowerShell/obj/*

# ignore PowerShell Studio MetaData
CentreonPowerShell/CentreonPowerShell.psproj
CentreonPowerShell/CentreonPowerShell.psproj.bak
CentreonPowerShell/CentreonPowerShell.psprojs
CentreonPowerShell/CentreonPowerShell.psproj
